$primary: #d8daff;
$secondary-light: #3c417c;
$secondary-dark: #050933;

body {
  background: linear-gradient(#3c417c, #050933);
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: 'Open Sans', sans-serif;
}

.bg-decoration {
  width: 100%;
  position: absolute;
  top: 100px;

  .window {
    opacity: 0;
    &.on {
      opacity: 1;
    }
  }

  .snow {
    width: 30%;
    position: absolute;
  }

  .snowflake {
    opacity: 0;
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: $primary;
    animation: fall 3s linear infinite;
    top: -100px;
  }
}

.title-col {
  margin-top: 220px;
  padding-bottom: 0;
  padding-left: 3rem;
  padding-right: 3rem;

  h1 {
    color: $primary;
    font-family: 'Poiret One', cursive;
    font-size: 10vh;
    // overflow: hidden; /* Ensures the content is not revealed until the animation */
    // border-right: .15em solid orange; /* The typwriter cursor */
    // white-space: nowrap; /* Keeps the content on a single line */
    // margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    // letter-spacing: .06em; /* Adjust as needed */
    // animation: 
    //   typing 3.5s steps(40, end),
    //   blink-caret .75s step-end infinite;
  }

  .subheadline {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin-top: 1em;
    color: $primary;
    // padding-left: 130px;
    // padding-right: 130px;
    text-align: center;
  }
}

// Large devices (desktops, 1240px and up)
@media (min-width: 1240px) {
  .title-col {
    margin-top: 175px;
    padding-left: 30%;
    padding-right: 30%;
    padding-bottom: 5em;
  }

  h1 {
    font-size: 1em;
  }
}

.article {
  background-color: $primary;
  color: $secondary-dark;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 39px -10px rgba(216,218,255,0.8);
  -moz-box-shadow: 0px 0px 39px -10px rgba(216,218,255,0.8);
  box-shadow: 0px 0px 39px -10px rgba(216,218,255,0.8);

  .main-img {
    max-width: 100%;
    width: 100%;
    height: 300px;
    object-fit: none;
    object-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  h2 {
    font-family: 'Poiret One', cursive;
  }
}

.article2 {
  // width: 42%;
  border: 3pt solid $primary;
  border-radius: 30px;

  .main-img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: 300px;
    object-fit: none;
    object-position: center;
  }

  .headline {
    &::before {
      width: 100%;
      height: 10px;
      content: "";
      background-color: $primary;
    }

    .box {
      $box-height: 3.5rem;
      border: 1px solid $primary;
      border-top: none;
      border-left: none;
      height: $box-height;

      &:last-child {
        border-right: none;
      }

      $box-padding: 0.7rem;
      &.square{
        width: $box-height;
      }

      .arrow, .post-num {
        width: $box-height - $box-padding;
        height: $box-height - $box-padding;
      }

      .copy {
        color: $primary;
        font-size: 1.5rem;
        line-height: 1;
      }

      .post-num {
        border-radius: 100%;
        background-color: $primary;
        color: $secondary-light;
        font-size: 2rem;
      }
    }
  }

  .body {
    color: $primary;
    font-size: 1rem;
  }
}

@keyframes fall {
  $fall-legth: 25vh;
  $offset-width: 3px;
  0% {
    opacity: 0;
    transform: translateY(0) translateX(0);
  }
  10% {
    opacity: 1;
  }
  33% {
    transform: translateY($fall-legth/3) translateX($offset-width);
  }
  66% {
    transform: translateY($fall-legth*(2/3)) translateX(-$offset-width);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY($fall-legth) translateX(0);
  }
}

/* The typing effect */
// @keyframes typing {
//   from { width: 0 }
//   to { width: 100% }
// }

// /* The typewriter cursor effect */
// @keyframes blink-caret {
//   from, to { border-color: transparent }
//   50% { border-color: orange; }
// }